@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

:root {
    --brand: #F35F2F;
    --primary: #3D3D3F;
    --secondary: #999999;
    --blue1: #1DA1F2;
    --blue2: #4D77CF;
    --bg: #E5E5E5;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: 'Rubik', serif;
    font-size: 18px;
    color: var(--primary);
}
.dnone {
    display: none;
}
.active {
    color: var(--brand);
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.btn {
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    background: linear-gradient(rgba(243, 95, 47, 0.75), rgba(243, 95, 47, 1));
}

body {
    background-color: var(--bg);
}

header nav {
    padding: 25px 0;
}
header nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo a {
    display: flex;
    align-items: center;
    column-gap: 5px;
}
nav .logo span {
    font-weight: 500;
    font-size: 26px;

}
nav .links a:not(:first-child) {
    margin-left: 45px;
}
nav .links button {
    margin-left: 85px;
}
nav .toggle button.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
}
nav .toggle button i {
    font-size: 22px;
    color: #fff;
    font-weight: 500;
}